In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
df1 = pd.read_csv("devclub.csv")
df1.describe()

            EMPID      GENDER      STATUS
count  100.000000  100.000000  100.000000
mean    50.500000    0.480000    1.850000
std     29.011492    0.502117    1.520068
min      1.000000    0.000000    0.000000
25%     25.750000    0.000000    0.000000
50%     50.500000    0.000000    2.000000
75%     75.250000    1.000000    3.000000
max    100.000000    1.000000    4.000000

In [ ]:
df.